body{
    background: -webkit-linear-gradient(left, #242424, #242424);
}
#backarrow{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 30px;
}
.contact-form{
    background: #000000;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 17%;
    margin-top: -10%;
    /* transform: rotate(29deg); */
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #fda400;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #fda400;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #fda400;
    border: none;
    cursor: pointer;
}


.display-none{
    display: none;
}
.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #242424;
}

.modal-wrap .modal {
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    background-color: #fff;
}

.modal-wrap img {
    width: 200px;
    height: auto;
    margin-bottom: 16px;
}

.modal-wrap .btn {
    margin-top: 24px;
}

.modal-wrap .btn:hover {
    border-color: #fda400;
    color: #fff;
}

