html,body {
    height: 100%;
    background-color: #242424;
}
body {
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins',sans-serif;
}
b {
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}
.txtcol{
    color: #fff;
}
.navbar-blur {
    background-color: rgba(125, 95, 50, 0.2);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    transition: .3s;
    margin: 7px;
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 50px;


}
.feedimg{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
    /* ------------------------------------------------------Acheivments-------------------------------------------------- */
    .card-container {
        position: relative;
        display: inline-block;
    }
    
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        background: rgba(255, 255, 255, 0.5); /* Optional: semi-transparent background */
        border-radius: 50%;
    }
    
    .overlay .eye-icon {
        max-width: 100px;
        max-height: 100px;
    }
    
    .card-container:hover .overlay {
        opacity: 1;
    }
    
.landing-page {
    height: 100%;
    /* background: rgba(206, 206, 216, 0.905); */
    background: radial-gradient(circle, rgba(0, 0, 0, 0.925) 0%, rgba(0, 0, 0, 0.925) 50%);
    /* background-image: url('assets\images\psychedelic-paper-shapes-with-copy-space.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: #fff; /* Ensure text is visible */
    height: 100%;
    
}

.hero-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.landing-social-link {
    font-size: 36px;
    transition: .3s;
    color: #fff;
}
.landing-social-link:hover {
    color: #fda400;
}
.home-header {
    font-size: 150px;
    color: #fff;
}
.home-text {
    font-size: 18px;
}
.auto-input{
    color:#fff;
}
@media only screen and (max-width: 667px) {
    .landing-page {
        height: 175%;
    }
    .home-header {
        font-size: 50px;
        color: #fff;
    }
    .hero-video{
        display: none;
    }
}

@media only screen and (min-width: 667px) {
    .landing-page {
        height: 110%;
    }
    .home-header {
        font-size: 50px;
        color: #fff;
    }
    .landimg{
        display: none;
    }
}
.home-btn {
    background-color: #fda400;
    color: white;
    text-decoration: none;
    transition: .3s;
}
.home-btn:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none;
    box-shadow: none;
}
.card-hover-anim {

    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
            box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}
.shadow-neumorphism {
    background: #1f1f1f; /* Dark background */
    border-radius: 15px;
    box-shadow: 8px 8px 16px #000000, /* Darker shadow */
                -8px -8px 16px #4d4d4d; /* Lighter shadow */
}
.card-hover-anim:hover {
    border: 5px solid #19a8c9;
    background-position: 0% 0%;
    color: rgb(187, 182, 182);
}
.sec-title {
    background-color: #fda400;
    color: white;
    text-align: center;
}
.more-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.more-link i {
    position: relative;
    left: 5px;
    transition: left ease .3s;
}
.more-link:hover {
    opacity: 75%;
    color: #fda400;
}
.more-link:hover > i {
    position: relative;
    left: 15px;
}
.footer-block {
    background-color: rgb(247, 255, 232);
}
.social-link {
    text-decoration: none;
    color: black;
}
.social-link:hover {
    opacity: 75%;
    color: black;
}
.social-link i {
    position: relative;
    left: 0;
    top: 0;
    transition-property: left,top;
    transition: ease .3s;
}
.social-link:hover > i {
    left: 5px;
    top: -5px;
}
.skill-img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
.submit-btn {
    background-color: #fda400;
    outline: none;
    border: none;
    color: white;
    transition: .3s;
}
.submit-btn:hover {
    color: black;
    background-color: rgb(247, 255, 232);
}
.nav-link {
    display: inline-block;
    position: relative;
    font-size: large;
    font-weight: 900;
    color:#fff;
}
.nav-link:hover{
    color:#fda400;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fda400;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.langs-known-item {
    font-size: 100px;
    transition: .3s;
    color: #fda400;
}
.langs-known-item:hover {
    color: #fda400;
}

.preloader {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 224, 138);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.preloader-holder {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
}

.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fda400;
    color: #fda400;
    box-shadow: 9999px 0 0 -5px #fda400;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fda400;
    color: #fda400;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #fda400;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #fda400;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #fda400;
    }
    30% {
        box-shadow: 9984px 0 0 2px #fda400;
    }
    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #fda400;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #fda400;
    }
    30% {
        box-shadow: 9999px 0 0 2px #fda400;
    }
    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #fda400;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #fda400;
    }
    30% {
        box-shadow: 10014px 0 0 2px #fda400;
    }
    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #fda400;
    }
}
.content {
    margin-bottom: 100px;
}

.content h2 {
    color: #fff;
    font-size: 0.8em;
    position: absolute;
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #fda400;
}

.content h2:nth-child(2) {
    color: #fda400;
}

@keyframes animate {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }
    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}
.grecaptcha-badge {
    visibility: hidden;
}
.mt-125 {
    margin-top: 125px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-75 {
    margin-top: 75px;
}
